<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0">
    <meta name="description" content="Lewis - Creative Portfolio HTML Template">
    <meta name="author" content="Paul, Logan Cee">

    <title>Quest-X</title>

    <!-- CSS -->
    <link href="{% static 'Ethant Hunt/html/html/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'Ethant Hunt/html/html/css/jquery.pagepiling.css'%}" rel="stylesheet">
    <link href="{% static 'Ethant Hunt/html/html/css/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'Ethant Hunt/html/html/css/owl.theme.default.min.css' %}" rel="stylesheet">
    <link href="{% static 'Ethant Hunt/html/html/css/animate.min.css' %}" rel="stylesheet">

    <!-- Main CSS -->
    <link href="{% static 'Ethant Hunt/html/html/css/style.css' %}" rel="stylesheet">

  </head>
  <div class="section pp-scrollable slide slide-awards slide-dark a-slide-typed" data-name="awards">
    <div class="slide-container">
      <div class="lines"><div></div><div></div><div></div><div></div></div>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-5">
            <div class="animate-element delay5 fadeInUp">
              <div class="title-mini title-mini-margin-lg text-primary">Что нужно сделать?</div>
              <h3 class="slide-title font-custom" style='font-family: Comic Sans MS;'>Создать собственный<br /> интерактивный квест <span class="text-typed a-typed a-typed-awards" data-text="очень просто"></span>.</h3>
            </div>
            <div class="slide-descr animate-element delay7 fadeInUp">Deciding where to place an Awards and Honors section will depend on <strong>the resume format</strong>. However, no matter how impressive this section is, it should of your resume.</div>

            <div class="reward-list animate-element delay9 fadeInUp">
              <div class="reward-item">
                <div class="reward-item-photo"><img src="img/reward1.png" alt="" width="69" /></div>
                <div class="reward-item-detail">
                  <div class="reward-item-title">wandra design awards</div>
                  <div class="reward-item-descr">For Best UX/UI Design App</div>
                </div>
              </div>
              <div class="reward-item">
                <div class="reward-item-photo"><img src="img/reward2.png" alt="" width="128" /></div>
                <div class="reward-item-detail">
                  <div class="reward-item-title">Inovative ideas design Awards</div>
                  <div class="reward-item-descr">For Most Loved Illustration </div>
                </div>
              </div>
              <div class="reward-item">
                <div class="reward-item-photo"><img src="img/reward3.png" alt="" width="103" /></div>
                <div class="reward-item-detail">
                  <div class="reward-item-title">creative Design awards</div>
                  <div class="reward-item-descr">For Best UX/UI Project Design</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-6">
            <div class="slide-photo slide-photo6">
              <div class="inside"><img src="img/slide6.png" alt="" /></div>
              <div class="image-card image-card-primary card6-1 animate-element delay8 fadeInLeft">
                <div class="image-card-body"><div class="inside"><img src="img/card6-1.png" alt="" /></div></div>
              </div>
              <div class="image-card card6-2 animate-element delay11 fadeInLeft">
                <div class="image-card-body"><div class="inside"><img src="img/card6-2.png" alt="" /></div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

      <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
      <script>window.jQuery || document.write('<script src="{% static 'Ethant Hunt/html/html/js/jquery.min.js' %}"><\/script>')</script>
      <script src="{% static 'Ethant Hunt/html/html/js/smoothscroll.js' %}"></script>
      <script src="{% static 'Ethant Hunt/html/html/js/popper.min.js' %}"></script>
      <script src="{% static 'Ethant Hunt/html/html/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'Ethant Hunt/html/html/js/owl.carousel.min.js' %}"></script>
      <script src="{% static 'Ethant Hunt/html/html/js/jquery.pagepiling.min.js' %}"></script>
      <script src="{% static 'Ethant Hunt/html/html/js/jquery.viewport.js' %}"></script>
      <script src="{% static 'Ethant Hunt/html/html/js/jquery.countdown.min.js' %}"></script>
      <script src="{% static 'Ethant Hunt/html/html/js/typed.min.js' %}"></script>
      <script src="{% static 'Ethant Hunt/html/html/js/parallax.min.js' %}"></script>
      <script src="{% static 'Ethant Hunt/html/html/js/jquery.validate.min.js' %}"></script>
      <script src="{% static 'Ethant Hunt/html/html/js/script.js' %}"></script>

    </body>
  </html>
