<!DOCTYPE html>
  <html lang="ru">
  <head>
      <meta charset="UTF-8">
      <title>Quest-X</title>
  </head>
    <body>
      <p> {{ a }}</p>

  </body>
    </html>
    <!doctype html>
    {% load static %}
    <html lang="en">
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0">
        <meta name="description" content="Lewis - Creative Portfolio HTML Template">
        <meta name="author" content="Paul, Logan Cee">

        <title>Quest-X</title>

        <!-- CSS -->
        <link href="{% static 'Ethant Hunt/html/html/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'Ethant Hunt/html/html/css/jquery.pagepiling.css'%}" rel="stylesheet">
        <link href="{% static 'Ethant Hunt/html/html/css/owl.carousel.min.css' %}" rel="stylesheet">
        <link href="{% static 'Ethant Hunt/html/html/css/owl.theme.default.min.css' %}" rel="stylesheet">
        <link href="{% static 'Ethant Hunt/html/html/css/animate.min.css' %}" rel="stylesheet">

        <!-- Main CSS -->
        <link href="{% static 'Ethant Hunt/html/html/css/style.css' %}" rel="stylesheet">

      </head>

      <body class="body-piling is-dark">
        <div class="wrapper">
          <header id="header" class="header">
            <div class="container-fluid">
              <div class="brand">
                <a href="#About" class="brand-name"><span class="brand-name-s"></span></a>
              </div>

              <button class="nav-toggle-btn a-nav-toggle">
                <span class="hamburger">
                  <span class="top-bun"></span>
                  <span class="meat"></span>
                  <span class="bottom-bun"></span>
                </span>
              </button>

              <div class="hide-menu a-nav-toggle"></div>

              <div class="menu">
                <div class="menu-lang">
                  <a href="#" class="menu-lang-item active"></a>
                  <a href="#" class="menu-lang-item"></a>
                  <a href="#" class="menu-lang-item"></a>
                </div>

                <div class="menu-main" id="accordion">
                  <ul id="menuMain">
                    <li data-menuanchor="About"><a a href="{% url 'hello:quest' %}" >Главная</a></li>
                    <li data-menuanchor="Services"><a a href="{% url 'accounts:questx' %}" >Создать квест</a></li>
                    <li data-menuanchor="Skills"><a href="{% url 'accounts:trai' %}">Разгадать квест</a></li>
                    <li data-menuanchor="Contact"><a href="{% url 'accounts:contacts' %}">Контакты</a></li>
                  </ul>
                </div>

                <div class="menu-footer">
                  <div class="menu-footer-contacts">
                    <div class="menu-footer-phone"><a href="tel:+79163912391" class="phone-link">+7-916-391-23-91</a></div>
                    <div class="menu-footer-mail"><a href="mailto:e.koshelevi@gmail.com" class="mail-link">e.koshelevi@gmail.com</a></div>
                  </div>
                  <div class="menu-footer-copyright">&copy; Quest-X 2020. All Rights Reseverd</div>
                </div>
                <div class="menu-ornament"></div>
              </div>
            </div>
          </header>


          <div id="content">
            <div class="a-pagepiling full-page">
              <div class="section pp-scrollable slide slide-about a-slide-typed" data-name="skills">
                <div class="slide-container">
                  <div class="lines"><div></div><div></div><div></div><div></div></div>


                  <div class="section pp-scrollable slide slide-skills a-slide-typed" data-name="skills">
                    <div class="slide-container">
                      <div class="lines"><div></div><div></div><div></div><div></div></div>
                      <div class="container">
                        <div class="row align-items-center flex-row-reverse">
                          <div class="col-md-5">
                            <div class="animate-element delay5 fadeInUp">
                              <div class="title-mini text-primary">Проверьте данные:</div>
                              <h2 class="slide-title font-custom" style='font-family: Comic Sans MS;'>Ваше <span class="text-typed a-typed a-typed-skills" data-text="секретное послание:"></span><br /></h2>
                            </div>
                            <div class="slide-descr animate-element delay7 fadeInUp" style='font-family: Comic Sans MS; font-size: 25px;'>{{ l }}</div>

                            <div class="bar-list a-progressbar animate-element delay9 fadeInUp">
                              <div class="bar-item">
                                <div class="row">
                                  <div class="col bar-item-title" style='font-family: Comic Sans MS; font-size: 20px;'>Количество вопросов в квесте: {{ k }} <br> Pin-код для Игрока: {{ pin }}</div>
                                  <div class="col-auto text-right bar-item-value"><br></div>
                                </div>

                              </div>

                              <div class="bar-item">
                                <div class="row">
                                  <div class="col bar-item-title">Все верно. Подтверждаю данные.</div>
                                  <div class="col-auto text-right bar-item-value"><form action="{% url 'accounts:link' %}" method="post">  {% csrf_token %}
                                    <input type="hidden" name="age" value="{{ j }}">
                                    <input type="hidden" name="quantity_text" value="{{ k }}">
                                    <input type="hidden" name="message" value="{{ l }}">
                                    <input type="hidden" name="pin" value="{{ pin }}">
                                <input type="submit" value="Далее">

                                  </form></div>
                                </div>
                                <div class="progress">
                                  <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                              </div>
                              <div class="bar-item">
                                <div class="row">
                                  <div class="col bar-item-title"> Что-то пошло не так. Начать снова.</div>
                                  <div class="col-auto text-right bar-item-value"><form action="{% url 'accounts:info' %}" method="post">  {% csrf_token %}
                                      <input type="submit" value="Назад">
                                  </form></div>
                            </div>

                                <div class="progress">
                                  <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                              </div>
                              <div class="bar-item">
                                <div class="row">
                                  <div class="col bar-item-title">Персонализированный квест. Вопросы</div>
                                  <div class="col-auto text-right bar-item-value"><form action="{% url 'accounts:creation' %}" method="post">  {% csrf_token %}
                                    <input type="hidden" name="age" value="{{ j }}">
                                    <input type="hidden" name="quantity_text" value="{{ k }}">
                                    <input type="hidden" name="message" value="{{ l }}">
                                    <input type="hidden" name="pin" value="{{ pin }}">
                                      <input type="submit" value="Начать">

                                  </form></div>
                                </div>
                                <div class="progress">
                                  <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                              </div>

                            </div>
                          </div>
                          <div class="col-md-1"></div>
                          <div class="col-md-6">
                            <div class="slide-photo">
                              <div class="image-card card3-1 animate-element delay8 zoomIn">
                                <div class="image-card-body"><div class="inside"><img src="{% static 'Ethant Hunt/html/html/img/slide3.png' %}" alt="" /></div></div>
                              </div>
                              <div class="image-card card3-2 image-card-dark animate-element delay12 fadeInUp">
                                <div class="image-card-body"><div class="inside"><img src="{% static 'Ethant Hunt/html/html/img/card3-2.png' %}" alt="" /></div></div>
                              </div>
                              <div class="image-card card3-3 animate-element delay9 fadeInUp">
                                <div class="image-card-body"><div class="inside"><img src="{% static 'Ethant Hunt/html/html/img/card3-3.png' %}" alt="" /></div></div>
                              </div>
                              <div class="image-card card3-4 animate-element delay13 fadeInLeft">
                                <div class="image-card-body"><div class="inside"><img src="{% static 'Ethant Hunt/html/html/img/card3-4.png' %}" alt="" /></div></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <footer id="footer" class="footer">
                    <div class="container-fluid">
                      <div class="copyright">Quest-X 2020.</div>
                      <div class="footer-social">

                        <div class="chat">
                          <div class="chat-title">Quest-X</div>

                        </div>
                      </div>
                    </div>
                  </footer>


                  <div class="progress-nav">
                    <ul id="menu">
                      <li data-menuanchor="About"></li>
                      <li data-menuanchor="Services" ></li>
                      <li data-menuanchor="Skills"></li>
                      <li data-menuanchor="Resume"></li>
                      <li data-menuanchor="Portfolio"></li>
                      <li data-menuanchor="Awards" ></li>
                      <li data-menuanchor="Testimonials"class="active"></li>
                      <li data-menuanchor="Clients"></li>
                      <li data-menuanchor="Contact"></li>
                    </ul>
                  </div>


                </div>





                <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
                <script>window.jQuery || document.write('<script src="{% static 'Ethant Hunt/html/html/js/jquery.min.js' %}"><\/script>')</script>
                <script src="{% static 'Ethant Hunt/html/html/js/smoothscroll.js' %}"></script>
                <script src="{% static 'Ethant Hunt/html/html/js/popper.min.js' %}"></script>
                <script src="{% static 'Ethant Hunt/html/html/js/bootstrap.min.js' %}"></script>
                <script src="{% static 'Ethant Hunt/html/html/js/owl.carousel.min.js' %}"></script>
                <script src="{% static 'Ethant Hunt/html/html/js/jquery.pagepiling.min.js' %}"></script>
                <script src="{% static 'Ethant Hunt/html/html/js/jquery.viewport.js' %}"></script>
                <script src="{% static 'Ethant Hunt/html/html/js/jquery.countdown.min.js' %}"></script>
                <script src="{% static 'Ethant Hunt/html/html/js/typed.min.js' %}"></script>
                <script src="{% static 'Ethant Hunt/html/html/js/parallax.min.js' %}"></script>
                <script src="{% static 'Ethant Hunt/html/html/js/jquery.validate.min.js' %}"></script>
                <script src="{% static 'Ethant Hunt/html/html/js/script.js' %}"></script>

              </body>
            </html>
